Repository vlad-iakovlev/airbnb-filter: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

pre-commit:
  commands:
    compile:
      run: npm run compile
    lint:
      glob: "*.{js,ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,tsx,json,yml,yaml,css,html,md}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

feat: add icon to popup
  src/common/Checkbox.tsx
  src/features/popup/index.tsx
Due: lint, prettier

feat: move width to body
  src/features/popup/index.tsx
  src/styles.css
Due: lint, prettier

feat: improve texts
  src/features/amenities/index.tsx
Due: lint, prettier

chore: add CI build
  .github/workflows/ci.yml
Due: prettier

chore: fix artifact name
  .github/workflows/ci.yml
Due: prettier

chore: fix upload-artifact version
  .github/workflows/ci.yml
Due: prettier

chore: update readme
  README.md
Due: prettier

chore: npm update
  package-lock.json
Due: prettier

chore: do not update types/node
  .github/dependabot.yml
Due: prettier

chore: npm update (#2)
  package-lock.json
Due: prettier

chore: npm update
  package-lock.json
  package.json
Due: prettier

chore: npm update (#4)
  package-lock.json
  package.json
Due: prettier

Update LICENSE
  LICENSE
Due: none

chore: switch to AGPL (#10)
  LICENSE
Due: none

chore: npm update (#11)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#17)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#23)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#24)
  package-lock.json
Due: prettier

chore: npm update (#28)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#29)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#33)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#38)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#39)
  package-lock.json
Due: prettier

chore: npm update (#43)
  package-lock.json
  package.json
Due: prettier

chore: npm update (#45)
  package-lock.json
  package.json
Due: prettier

chore(deps): update
  package-lock.json
  package.json
Due: prettier

chore: fix json imports
  src/features/amenities/index.tsx
Due: lint, prettier
